@use './../../styles/palette' as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10.375rem;

  .container__title {
    font-size: 1.625rem;
    color: $primary;
    font-family: var(--font-signatie);
    text-align: center;
  }

  .container__subtitle {
    max-width: 47.125rem;
    font-size: 3.5rem;
    font-family: var(--font-miollan);
    text-align: center;
  }

  .container__accordion {
    margin-top: 4.125rem;

    .accordion__list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.25rem;
      padding: 1rem;

      .list__item {
        width: 100%;
        max-width: 71.5rem;
        background-color: $gray-50;
        list-style: none;
        transition: 0.4s;
        gap: 1rem;

        .item__btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          outline: none;
          border: none;
          text-align: start;
          font-size: 1.125rem;
          font-weight: 500;
          background-color: $gray-50;
          cursor: pointer;

          .btn__text { }

          .btn__icon {
            transition: transform 0.3s ease;
          }

          &:hover {
            filter: brightness(0.97);
          }
        }

        .btn__icon--activated {
          transform: rotate(180deg);
        }

        .item__text {
          width: 100%;
          max-height: 0;
          border-top: 1px solid $white;
          color: $gray-50;
          line-height: 32px;
          overflow: hidden;
          opacity: 0;
          transition: max-height 0.3s ease, opacity 0.3s ease;
        }

        .item__text--activated {
          max-height: max-content;
          padding: 2rem 1rem;
          color: $gray-200;
          opacity: 1;
        }
      }
    }
  }

  @media (width <= 1249px) {
    .container__accordion {
      .accordion__list {
        padding: 0 2rem;

        .list__item {
          width: 100%;
        }
      }
    }
  }

  @media (width <= 760px) {
    .container__accordion {
      .accordion__list {
        padding: 0 1rem;
      }
    }
  }

  @media (width <= 723px) {
    .container__title {
      font-size: 1.25rem;
    }

    .container__subtitle {
      font-size: 3rem;
    }

    .container__accordion {
      margin-top: 3.875rem;
    }
  }

  @media (width <= 631px) {
    .container__title {
      font-size: 1.25rem;
    }

    .container__subtitle {
      max-width: 30rem;
      font-size: 2.188rem;
    }
  }

  @media (width <= 487px) {
    margin-top: 3.875rem;

    .container__title {
      font-size: 1rem;
    }

    .container__subtitle {
      max-width: 20rem;
      font-size: 1.75rem;
    }
  }

  @media (width <= 384px) {
    padding: 0.5rem;

    .container__title {
      max-width: 15rem;
    }

    .container__subtitle {
      max-width: 20rem;
    }
  }
}
