@use './../../styles/palette' as *;

.container {
  margin-top: 10.375rem;
  padding-left: 2rem;
  padding-right: 1rem;

  .container__title {
    font-size: 1.625rem;
    color: $primary;
    font-family: var(--font-signatie);
  }

  .container__subtitle {
    max-width: 37.438rem;
    font-size: 3.5rem;
    font-family: var(--font-miollan);
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .container__cards {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;

    .cards__item {
      min-width: 24.313rem;
      max-width: 28rem;
      height: 27.375rem;
      background-color: $gray-50;
      border-radius: 8px;
      list-style: none;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      .item__icon {
        color: $gray-200;
      }

      .item__texts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .texts__title {
          font-weight: 500;
          line-height: 43px;
        }

        .texts__description {
          font-size: 14px;
          line-height: 21px;
          font-weight: 100;
          color: $gray-200;
        }
      }
    }
  }

  .container__buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .buttons__item {
      width: 2.75rem;
      height: 2.75rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 100%;

      .item__icon { }
    }
  }

  @media (width <= 683px) {
    padding-left: 1rem;
    margin-top: 3.875rem;

    .container__subtitle {
      font-size: 2rem;
      max-width: 25rem;
    }
  }

  @media (width <= 427px) {
    .container__cards {
      .cards__item {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
}
