$red-50: #d98ba0;
$red-100: #f24464;
$red-200: #f20530;
$red-300: #8c030e;
$primary: #f34564;
$brown: #402a25;
$black: #1c1c1c;
$white: #ffffff;
$gray-50: #f2f2f7;
$gray-100: #d9d9d9;
$gray-200: #8e8e93;
$pink-50: #fef1f3;
$pink-100: #fde2e7;
