@use './../../styles/palette' as *;

.container {
  max-width: 86rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 6rem;

  .content {
    display: flex;
    gap: 2.625rem;

    .content__image {
      width: 41.125rem;
      height: 33.188rem;
    }

    .content__leftSide {
      display: flex;
      flex-direction: column;
      max-width: 41rem;

      .leftSide__title {
        font-size: 1.625rem;
        color: $primary;
        font-family: var(--font-signatie);
      }

      .leftSide__subtitle {
        font-size: 1.625rem;
        margin-top: 1rem;
        font-weight: bold;
        color: $brown;
      }

      .leftSide__paragraph {
        font-weight: 100;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .leftSide__button {
        width: 10.688rem;
        height: 3.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        background-color: $primary;
        text-decoration: none;
        padding-left: 1rem;
        padding-right: 0.3rem;
        border-radius: 2rem;

        .button__text {
          color: $white;
        }

        .button__iconContainer {
          width: 2.75rem;
          height: 2.75rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: $primary;
          background-color: $white;

          .iconContainer__icon { }
        }
      }
    }

    @media (width <= 1341px) {
      flex-direction: column;
    }

    @media (width <= 744px) {
      .content__image {
        display: none;
      }
    }

    @media (width <= 390px) {
      margin-top: 3.875rem;

      .content__leftSide {
        .leftSide__subtitle {
          font-size: 1.25rem;
        }
      }
    }
  }

  .topics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10.375rem;

    .topics__item {
      max-width: 19.688rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style: none;

      .item__icon {
        color: $primary;
      }

      .item__title,
      .item__paragraph {
        text-align: center;
      }

      .item__title {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 2.688rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      .item__paragraph {
        height: 5.5rem;
        font-weight: 100;
        font-size: 0.875rem;
        line-height: 1.625rem;
      }
    }

    @media (width <= 1400px) {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
    }

    @media (width <= 1137px) {
      justify-content: space-around;
    }

    @media (width <= 758px) {
      padding: 0 1rem;
      justify-content: center;
    }
  }

  @media (width <= 1416px) {
    padding: 0 2rem;
  }

  @media (width <= 744px) {
    margin-top: 5.125rem;
  }

  @media (width <= 600px) {
    padding: 0 1rem;
  }

  @media (width <= 390px) {
    margin-top: 3.875rem;
  }
}
