@use './../../styles/palette' as *;

.container {
  width: 100%;
  max-width: 76.563rem;
  height: max-content;
  display: flex;
  gap: 3.688rem;
  padding: 0 1rem;
  margin: 10.375rem auto;

  @media (width <= 390px) {
    margin-top: 3.875rem;
  }
}

.container__info {
  width: 100%;
  max-width: 27.813rem;
  height: 54rem;
  padding: 2rem;
  background-color: $pink-50;
  border-radius: 8px;

  .info__title {
    min-width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .info__office {
    margin-top: 6.375rem;

    .office__title {
      font-weight: bold;
      font-size: 1.125rem;
    }

    .office__context {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;

      .context__address {
        color: $gray-200;
        font-size: 0.875rem;
      }
    }
  }

  .info__email {
    margin-top: 3rem;

    .email__title {
      font-weight: bold;
      font-size: 1.125rem;
    }

    .email__context {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;

      .email__text,
      .email__address {
        color: $gray-200;
        font-size: 0.875rem;
      }

      .email__address--emphasis {
        font-weight: bold;
      }
    }
  }

  .info__contact {
    margin-top: 3rem;

    .contact__title {
      font-weight: bold;
      font-size: 1.125rem;
    }

    .contact__context {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;

      .context__text,
      .context__phone {
        color: $gray-200;
        font-size: 0.875rem;
      }
    }

    .context__phone--emphasis {
      font-weight: bold;
    }
  }

  .info__socialMedia {
    margin-top: 3rem;

    .socialMedia__title {
      font-weight: bold;
      font-size: 1.125rem;
    }

    .socialMedia__context {
      display: flex;
      align-content: center;
      gap: 1rem;
      margin-top: 1rem;

      .socialMedia__link {
        .link__icon {
          color: $black;
        }
      }
    }
  }
}

.container__form {
  width: 100%;
  max-width: 45rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .form__name {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .wrapper__label { }

    .wrapper__input {
      max-width: 23.75rem;
    }
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .wrapper__inputContainer {
      display: flex;
      align-items: center;
      gap: 1rem;

      .inputContainer__label {
        font-size: 0.875rem;
        font-weight: bold;
        color: $gray-200;
      }

      .inputContainer__input {
        max-width: 48.75rem;
        border: none;
      }
    }

    .wrapper__label {
      width: max-content;
      color: $brown;
    }

    .wrapper__inputContainer,
    .wrapper__input {
      width: 100%;
      height: 3.563rem;
      border: 1px solid $gray-100;
      border-radius: 8px;
      padding: 1rem;
      font-size: 0.875rem;
    }

    .wrapper__error {
      font-size: 14px;
      color: $primary;
    }

    .wrapper__input--textarea {
      height: 10.9rem;
    }
  }

  textarea {
    resize: none;
  }

  .form__btn {
    height: 4rem;
    width: 100%;
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

@media (width <= 1198px) {
  .container {
    gap: 2rem;
  }
}

@media (width <= 1077px) {
  .container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5.125rem;

    .container__info {
      height: max-content;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      max-width: 45rem;
      margin-bottom: 2rem;

      .info__office,
      .info__email,
      .info__contact,
      .info__socialMedia {
        height: 8rem;
        width: 19.9rem;
        margin-top: 0;
      }
    }
  }
}

@media (width <= 748px) {
  .container {
    .container__info {
      .info__office,
      .info__email,
      .info__contact,
      .info__socialMedia {
        height: max-content;
      }
    }
  }
}

@media (width <= 744px) {
  .container__form {
    .form__name {
      flex-direction: column;

      .wrapper__input {
        width: 100%;
      }
    }
  }
}
