@use './../../styles/palette' as *;

.container {
  margin-top: 10.375rem;

  .container__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.75rem;
    list-style: none;
    padding: 2rem;

    .container__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .container__number {
        width: max-content;
        display: flex;
        font-size: 9rem;
        font-family: var(--font-miollan);
        color: $primary;
      }

      .container__title {
        font-weight: 500;
        font-size: 1.375rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .container__subtitle { }
    }
  }

  @media (width <= 1077px) {
    .container__list {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  @media (width <= 744px) {
    margin-top: 5.125rem;

    .container__list {
      gap: 3rem;

      .container__item {
        .container__number {
          font-size: 6rem;
        }
      }
    }
  }

  @media (width <= 517px) {
    .container__list {
      .container__item {
        width: 100%;
        align-items: center;
      }
    }
  }

  @media (width <= 390px) {
    margin-top: 3.875rem;
  }
}
