@use './../../styles/palette' as *;

.container {
  margin-top: 10.375rem;

  .container__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.75rem;
    list-style: none;

    .container__item {
      .container__number {
        font-size: 9rem;
        font-family: var(--font-miollan);
        color: $primary;
      }

      .container__title {
        font-weight: 500;
        font-size: 1.375rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .container__subtitle { }
    }
  }
}
